html
  head
    title Weather Station Interface
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/js/interface.js')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
  body
    .container
      h1 Weather Station Interface
      h3.row
        .col-md-4
          div Local data
        .col-md-4
          div#temperature Temperature:
        .col-md-4
          div#light Light level:
      h3.row
        .col-md-4
          div Forecast
        .col-md-4
          div#summary Summary
    